<!doctype html>
<html ng-app="social-search-app">
<head>
<meta charset="UTF-8">
<title>Social Search</title>
<script src="//ajax.googleapis.com/ajax/libs/jquery/1.10.2/jquery.min.js"></script>
<!-- Latest compiled and minified CSS -->
<!--<link rel="stylesheet" href="//netdna.bootstrapcdn.com/bootstrap/3.0.3/css/bootstrap.min.css">
<link rel="stylesheet" href="//netdna.bootstrapcdn.com/bootstrap/3.0.3/css/bootstrap-theme.min.css">
<script src="//netdna.bootstrapcdn.com/bootstrap/3.0.3/js/bootstrap.js"></script>-->

<link rel="stylesheet" href="flatstrap/css/bootstrap.min.css">
<link rel="stylesheet" href="flatstrap/css/bootstrap-theme.min.css">
<script src="flatstrap/js/bootstrap.js"></script>
<link href="//netdna.bootstrapcdn.com/font-awesome/4.0.3/css/font-awesome.css" rel="stylesheet">
<link rel="stylesheet" href="css/style.css">
</head>



<body>
Twitter Ssup
<div id="twitter-feed" align="center" ng-repeat ="tweet in tweets" style="float:left">
<img  ng-src="{{image.images.low_resolution.url}}" style="margin-left:10px;margin-top:10px" >
<p>@{{tweet.text}}</p>
<p>@{{tweet.user.screen_name}}</p>
</div>
</body>
</html>